.more{
    color: rgb(151, 151, 151);
}
.more:hover{
    color: rgb(107, 107, 107);
}
.imglogo{
    margin-left: 40%;
    margin-top: 10px;
}
.namelogo{
    margin-left: 45%;
    margin-top: -53px;
    padding-bottom: 30px;
}
.alogo{
    color: black;
    text-decoration: none;
}
.logo{
    background-color: #f7f7f7;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
}
.container22{
    margin-bottom: 20px;
}
.container2{
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.Tarjeta{
    background-color: rgb(243, 243, 243);
    border-radius: 9px;
    border-color: rgb(189, 189, 189);
    border-width: 2px;
    width: 400px;
}
.Tarjeta:hover{
    background-color: rgb(230, 230, 230);
    border-radius: 9px;
    border-color: rgb(189, 189, 189);
    border-width: 2px;
    width: 400px;
}
.lista{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
    border-color: rgb(189, 189, 189);
    border-width: 2px;
    width: 1200px;
}
.FotoFlex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.movieimg{
    width: 90%;
    margin-top: 20px;
}
.Name{
    text-align: center;
}
.more{
    text-align: center;
}
.Eliminar{
    width: 100%;
    background-color: transparent;
    border-color: transparent;
}
.Eliminar:hover{
    width: 100%;
    border-radius: 200px;
    background-color: red;
    border-color: transparent;
}
.BotonesOrientacion{
    margin-left: 90%;
    width: 4%;
    justify-content: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.icon{
    opacity: 60%;
}
.Search{
    background-color: rgb(190, 190, 190);
    width: 20%;
    height: 25px;
    border-radius: 10px;
    margin-left: 2%;
}
.name{
    margin-left: 5%;
}
.inputbusqueda{
    border-color: transparent;
    border-radius: 5px;
}
.addcards{
    margin-left: 2%;
    margin-top: 1%;
    border-color: transparent;
    border-radius: 5px;
    background-color: rgba(155, 170, 169, 0.281);
}
.addcards:hover{
    margin-left: 2%;
    margin-top: 1%;
    border-color: transparent;
    border-radius: 5px;
    background-color: rgba(155, 170, 169, 0.507);
}