.Search{
    width: 20%;
    height: 25px;
    border-radius: 10px;
    margin-left: 2%;
}
.name{
    margin-left: 5%;
}
.inputbusqueda{
    border-color: black;
    border-radius: 5px;
}
.lupita{
    margin-left: -130px;
}
.grid{
    display: flex;
}