.container22{
    margin-bottom: 20px;
}
.BotonesOrientacion{
    margin-left: 90%;
    width: 4%;
    justify-content: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.addcards{
    margin-left: 47%;
    margin-top: 2%;
    border-color: rgba(170, 170, 170, 0.178);
    border-radius: 10px;
    border-width: 1px;
    background-color: transparent;
}
.addcards:hover{
    margin-left: 47%;
    margin-top: 2%;
    border-color: rgba(170, 170, 170, 0.349);
    border-radius: 10px;
    border-width: 1px;
    background-color: rgba(170, 170, 170, 0.178);
}
.icon{
    opacity: 60%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
}