.aa{
    margin: auto;
    font-size: 17px;
}
.nombres{
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.footer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }